/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f44336;
  --font-color: #333;
  --background-color: #f9f9f9;
}
